.logo-container{
	background-color:#a8aa83;
	width:100%;
}

.logo-container h1{
	font-family: "Veranda", Arial;
	font-size: 50px;
	font-weight: bold;
	color:#010101;
}

.upper-title{
	float: left;
	margin: 25px 10px 0 5px;
}

.lower-title{
	text-align: center;
	margin: 70px 15px 15px 15px;
}

.footer{
	background-color:#111;
	color:#fff;
	height:90px;
	width: 100%;
	padding-top:10px;
	margin:10px 10px 10px 10px;
	text-align: center;
	letter-spacing: 13px;
}

.footer p{
	letter-spacing: 0;
	margin-top: 5px;
}

.footer a:link{
	color: #fff;
}

.footer a:visited{
	color: #eee;
}

.footer a:hover{
	color: #cff;
}

.footer a:active{
	color: #3cf;
}

