.logo-container{
	background-color:#a8aa83;
	width:100%;
}

.logo-container h1{
	font-family: "Veranda", Arial;
	font-size: 50px;
	font-weight: bold;
	color:#010101;
}

.upper-title{
	float: left;
	margin: 25px 10px 0 5px;
}

.lower-title{
	text-align: center;
	margin: 70px 15px 15px 15px;
}